<%- include("partials/header") -%>
<div class="image">

</div>
<p>
  We have collected real data of more than 100000 dowry cases in India .<br>
  We through your traits somehow calculate the expected dowry that you may get or give in your marriage.<br>
  This is obviosly not accurate but will surely follow general trends.
</p>
<center>
  <a href="/calc"><button type="button" class="btn btn1 btn-info btn-lg">Go to Calculator</button></a>
  </center>

<%- include("partials/footer") -%>
