<%- include("partials/header") -%>
  <body>
    <div class="image">
    </div>
    <center>
    <h1>DOWRY CALCULATOR</h1>
    </center>
    <div class="maine">
      <a href="/calc"> <button type="button" class="btn btn1 btn-info btn-lg">Calculate Your Expected Dowry</button></a><br>
      <<a href="/how"><button type="button" class="btn btn1 btn-info btn-lg">How it works</button></a>
    </div>
    <%- include("partials/footer") -%>
