h1{
  color: red;
  font-size: 5em;
  margin-bottom: 160px;
}
.head{
  text-align:center;
}
footer{
  position: absolute;
  bottom: 10px;
  right: 5px;
  text-align: center;
  background-color: white;
}
body{
  font-family: 'Architects Daughter', cursive;

}
.btn1{
  margin: 20px;
}
.main{
  width: 100%;
  text-align: center;
}
.image{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-image:url("images/back.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.about{
  text-decoration: none;
  font-size: 20px;
  width: 100px;
  position: absolute;
  bottom: 10px;
  left: 5px;
}
